<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Email Confirmation - Photo Gallery</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700,500,300,300italic" rel="stylesheet" type="text/css">
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/global.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/assets/plugins/jquery.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="bg-color-sky-light">
            <br>
            <center>
                <h2>Photo Gallery</h2>
                <h3 style="font-weight: 600;">Email Confirmation</h3>
                <br> <a href="/">Home</a> | <a href="/login">Login</a> </center>
            <div class="content-sm container">
                <div class="row">
                    <div class="col-md-12 md-margin-b-50">
                        <article class="blog-grid margin-b-30">
                            <div class="blog-grid-content">
                                <h2 class="blog-grid-title-lg">Email Confirmed</h2>
                                <p>Your email has been successfully confirmed. You can now <a href="/login">log in</a> to your account.</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
